server:
  port: 8080

spring:
  application:
    name: library_api
  datasource:
    #    url: jdbc:h2:mem:library;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    url: jdbc:h2:file:./data/library;AUTO_SERVER=TRUE
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: true
  h2:
    console:
      enabled: true
      path: /h2-console
  sql:
    init:
      mode: always
logging:
  level:
    org.springframework.security: INFO
    org.springframework.web: INFO
    org.hibernate.SQL: INFO
    com.nortal.library: DEBUG

library:
  security:
    enforce: false
    print-demo-token: false
    jwt:
      public-key-location: classpath:keys/public_key.pem
      private-key-location: classpath:keys/private_key.pem